html {
    
}
body {
    max-width: 320px;
    height: 568px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1.5fr 1fr 20px;
}
.top {
    width: 100%;
    background-color: #D498FB;
    padding-bottom: 5px;
    padding-top: 15px;    
}
.topcont {
    display: grid;
    width: 85%;
    margin: 15px auto;
    height: 120px;
    gap: 2px;
}
.mid {
    width: 100%;
    background-color: rgb(251, 246, 255);
    overflow: scroll;
    
}
.money {
    display: flex;
    justify-content: space-between;
}
.money input {
    width: 70%;
}
ul {
    list-style: none;
    padding: 0;
    width: 90%;
    margin: 5px auto;
}
ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 35px;
    position: relative;
    overflow: hidden;
}
.bottom {
    width: 100%;
    background-color: #D498FB;
    height: 30vh;
    
}
#addBtn , #calcBtn {
    background-color: #51FFD6;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 5px rgb(82, 82, 82);
}
#calcBtn {
    background-color: #FFBED6;
}
.sumary {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    padding: 0 5px;
    color: white;
}
strong {
    color: black;
}
input {
    text-align: center;
}
.calc {
    height: 80px;
    width: 65%;
    margin: auto;
    display: grid;
    gap: 2px;
}
#helpBtn {
    margin-top: 20px;
    border: none;
}
.helpVideo {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
#helpcloseBtn {
    width: 50%;
    height: 35px;
    margin: 10px;
}
li button {
    position: absolute;
    right: -50px;
}
li:hover button{
     right: 0px;
}